# --------------------
# JetBrains IDEs files
# --------------------

# Project settings.
.idea/

# --------------------
# SublimeText files
# --------------------

# Workspace settings.
*.sublime-workspace

# Project settings.
*.sublime-project