# --------------------
# JetBrains IDEs files
# --------------------

# Commposer download locations.
/bin
/docroot
/vendor

# Project settings.
.idea/

# Git files
.editorconfig
.gitattributes

# --------------------
# SublimeText files
# --------------------

# Workspace settings.
*.sublime-workspace

# Project settings.
*.sublime-project